<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.budrotech.jukebox"
          android:installLocation="auto"
          android:versionCode="50"
          android:versionName="1.1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/SonicJukeboxTheme"
        android:label="@string/common.appname">
        <activity
            android:name="com.budrotech.jukebox.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Sonic Jukebox"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.budrotech.jukebox.activity.SelectArtistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"/>
        <activity
            android:name="com.budrotech.jukebox.activity.SelectAlbumActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.budrotech.jukebox.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/search.label"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.budrotech.jukebox.activity.SelectPlaylistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/playlist.label"
            android:launchMode="standard"/>
        <activity
            android:name="com.budrotech.jukebox.activity.BookmarkActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.budrotech.jukebox.activity.ShareActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.budrotech.jukebox.activity.ChatActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.budrotech.jukebox.activity.DownloadActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:exported="true" />
        <activity
            android:name="com.budrotech.jukebox.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.budrotech.jukebox.activity.HelpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.budrotech.jukebox.activity.LyricsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.budrotech.jukebox.activity.EqualizerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/equalizer.label"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.budrotech.jukebox.activity.VoiceQueryReceiverActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.budrotech.jukebox.activity.QueryReceiverActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <service
            android:name="com.budrotech.jukebox.service.DownloadServiceImpl"
            android:label="Sonic Jukebox Download Service"
            android:exported="false">
            <intent-filter>
                <action android:name="com.budrotech.jukebox.CMD_TOGGLEPAUSE"/>
                <action android:name="com.budrotech.jukebox.CMD_PLAY"/>
                <action android:name="com.budrotech.jukebox.CMD_PAUSE"/>
                <action android:name="com.budrotech.jukebox.CMD_NEXT"/>
                <action android:name="com.budrotech.jukebox.CMD_PREVIOUS"/>
                <action android:name="com.budrotech.jukebox.CMD_STOP"/>
            </intent-filter>
        </service>

        <receiver android:name="com.budrotech.jukebox.receiver.MediaButtonIntentReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.budrotech.jukebox.receiver.BluetoothIntentReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED"/>
                <action android:name="android.bluetooth.a2dp.action.SINK_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.budrotech.jukebox.provider.SonicJukeboxAppWidgetProvider4X1"
            android:label="Sonic Jukebox (4x1)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_4x1"/>
        </receiver>
        <receiver
            android:name="com.budrotech.jukebox.provider.SonicJukeboxAppWidgetProvider4X2"
            android:label="Sonic Jukebox (4x2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_4x2"/>
        </receiver>
        <receiver
            android:name="com.budrotech.jukebox.provider.SonicJukeboxAppWidgetProvider4X3"
            android:label="Sonic Jukebox (4x3)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_4x3"/>
        </receiver>
        <receiver
            android:name="com.budrotech.jukebox.provider.SonicJukeboxAppWidgetProvider4X4"
            android:label="Sonic Jukebox (4x4)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_4x4"/>
        </receiver>

        <provider
            android:name="com.budrotech.jukebox.provider.SearchSuggestionProvider"
            android:authorities="com.budrotech.jukebox.provider.SearchSuggestionProvider"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.budrotech.jukebox.activity.QueryReceiverActivity"/>

        <receiver
            android:name="com.budrotech.jukebox.receiver.A2dpIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.music.playstatusrequest"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>